<ion-header mode="ios" class="ion-no-border">
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      
      <ion-menu-button color="primary"
               menu="primerMenu"
               autoHide="false">
      </ion-menu-button>
    
      </ion-buttons>
    <ion-title color="primary">Noticias</ion-title>
  </ion-toolbar>
  </ion-header>

<ion-content>

  <ion-card>
    <img src="../../../assets/pico y placa.jpg" />
    <ion-card-header>
      <ion-card-subtitle>Pico y Placa</ion-card-subtitle>
      <ion-card-title>Martes 09 de Junio</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Recuerden que hoy, a partir de las 6:00 de la mañana a 10:00 de la mañana y de 4:00 de la tarde a 8:00 de la noche 
      habra pico y placa para las placas terminas en 7 y 8.
    </ion-card-content>
  </ion-card>

</ion-content>
