<ion-content fullscreen class="ion-padding" scroll-y="false">
  <ion-slides>

    <ion-slide>
      <div class="slide">
        <img src="../../assets/slide-1.png"/>
        <h2>Bienvenido</h2>
        <p>A <b>Parqueadero USC</b> la app desde la cual podras saber si hay espacios disponibles en el parqueadero para estudiantes de la Universidad Santiago de Cali.</p>
      </div>
    </ion-slide>

    <ion-slide>
      <img src="../../assets/slide-2.png"/>
      <h2>¿Que podras hacer?</h2>
      <p>Con la app <b>Parqueadero USC</b> podras saber en tiempo real que espacio del parqueadero esta disponiible, cual se acaba de ocupar o cual se aca de desocupar.</p>
    </ion-slide>

    <ion-slide>
      <img src="../../assets/slide-3.png"/>
      <h2>¿en que te ayudar?</h2>
      <p><b>Parqueadero USC</b> te ahorrara esa molesta fila de carros que se forman a la entrada del parqueadero, ahorrando tiempo y evitando que pierdas clase por esperar un lugar en el parqueadero.</p>
    </ion-slide>

    <ion-slide>
      <img src="../../assets/slide-4.png"/>
      <h2>¿Listo para inicar?</h2>
      <ion-button  routerLink="/login" fill="clear">Iniciar <ion-icon slot="end" name="arrow-forward"></ion-icon></ion-button>
    </ion-slide>

  </ion-slides>
</ion-content>

