/* Podemos eliminar este estilo si no queremos que se adapte al ancho máximo */
.delimitador{
    width:100%;    /* Ancho máximo */
    height:100px;
   
}
/* El contenedor con el padding-top crea el tamaño del vídeo */
.contenedor{
    position: relative;
    padding-bottom: 100%;
    padding-top: 70%; height: 0; overflow: hidden;
}
/* El iframe se adapta al tamaño del contenedor */
.contenedor iframe{
    position:absolute;
    height:100%;
    width:100%;
    top:0px;
    left:0px;
}