<ion-header mode="ios" class="ion-no-border">
  <ion-toolbar mode="ios">
    <ion-buttons slot="start">
      
      <ion-menu-button color="primary"
               menu="primerMenu"
               autoHide="false">
      </ion-menu-button>
    
      </ion-buttons>
    <ion-title color="primary">Acerca de</ion-title>
  </ion-toolbar>
  </ion-header>

<ion-content class="ion-padding">
  <p class="center" >Dispositivo de monitoreo para parqueaderos: caso de estudio Universidad Santiago de Cali</p>
    <p class="center" >Facultad de Ingenieria - Ingenierira de Sistemas</p>
  <ion-img class="logo" src="../../../assets/icon.png"></ion-img>
  <p class="center">Parqueadero USC v1.0.0</p>
<ion-item>
    
          <ion-thumbnail slot="start">
            <img src="../../../assets/av-8.png">
          </ion-thumbnail>
          <ion-label>
            <h3>Cristian Andres Renteria Perea</h3>
            <p>cristian.renteria00@usc.edu.co</p>
            <p>Autor</p>
          </ion-label>
        </ion-item>
        <ion-item>
            <ion-thumbnail slot="start">
              <img src="../../../assets/av-4.png">
            </ion-thumbnail>
            <ion-label>
              <h3>Diego Mauricio Viveros Sinisterra</h3>
              <p>diego.viveros00@usc.edu.co</p>
              <p>Autor</p>
            </ion-label>
          </ion-item>
          <ion-item>
              <ion-thumbnail slot="start">
                <img src="../../../../assets/av-6.png">
              </ion-thumbnail>
              <ion-label>
                <h3>Ing. Carlos Andres Tavera</h3>
                <p>carlos.tavera00@usc.edu.co</p>
                <p>Tutor</p>
              </ion-label>
            </ion-item>
            

</ion-content>
